/* Configuração da seção */
section{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;

    font-family: 'fontS';
    color: #353535;
}
/* Configuração da imagem principal */
#img_principal {
    position: absolute;
    width: 40%;
    z-index: -1;
    left: 18%;
    top: 10%;
}
/* Configuração dos textos */
#nome {
    margin: 0;
    position: absolute;
    font-size: 10vw;
    right: 20%;
    top: 20%;
}
#sobrenome {
    margin: 0;
    position: absolute;
    font-size: 5vw;  
    font-family: 'fontP'; 
    right: 20%;
    top: 42%; 
}
#sobre_mim {
    margin: 0;
    text-align: right;
    font-family: 'fontP';
    font-size: 1.5vw;

    width: 28%;
    position: absolute;
    right: 20%;
    top: 52%;
}

@media (max-width: 425px) {
    section{
        height: 65%;
    }
    #img_principal{
        width: 100%;
        left: 0;
        top: 25%;
    }
    #nome{
        font-size: 25vw;
        left: 5%;
        top: 15%;
    }
    #sobrenome{
        font-size: 12vw;
        left: 5%;
        top: 30%;
    }
    #sobre_mim{
        width: 80%;
        font-size: 5vw;
        right: 5%;
        top: 80%;
    }
}